{% raw %}
<div class="content" ng-if="page=='dashboard'">
  <div class="content-header medium">
    <div class="title caps">collections</div>
    <div class="tools"><p>&nbsp;</p>
      <hr class="underline">
    </div>
  </div>
  
  <div class="row-fluid alert">
    <div class="cold-md-12 alert-wrapper">
      <div class="alert-icon"><i class="fa fa-hand-o-right fa-3x"></i></div>
      <div class="alert-message">
        <p>Please note, that it may take up to 48 hours until the app collects enough data to start price adjustments.</p>
        <p>Do not be afraid to set generous price limits as the app will gradually seek for the optimal price points without jumping into extremes.</p>
        <p>As in Amazon the prices may change a few times per day.</p>
      </div>
    </div>
  </div>

  <div class="campaign-table" style="margin-bottom: 20px">
    <div class="thead">
      <div class="tc col1">name</div>
      <div class="tc col2">maximum discount, %</div>
      <div class="tc col3">maximum price increase, %</div>
    </div>

    <div class="campaigns-wrapper">
      <div class="campaign-row" ng-repeat="c in collections">
        <div class="tc col1">
          {{c.name}}
        </div>
        <div class="tc col2">
          <input type="number" ng-model="c.lower" min="-100" max="0" ng-change="setLimit(c)"/>
        </div>
        <div class="tc col3">
          <input type="number" ng-model="c.upper" min="0" max="100" ng-change="setLimit(c)"/>
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-success pull-right caps" ng-if="shop.state=='off'" ng-click="setState('on')">enable optimization</a>
      <a class="btn btn-default pull-right caps" ng-if="shop.state=='on'" ng-click="setState('off')">stop optimization and roll back</a>
    </div>
  </div>
</div>
{% endraw %}
