<!doctype html>
<html ng-app="nn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{shop.name or ''}} dashboard</title>

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//code.angularjs.org/1.5.3/angular.min.js"></script>
  <script src="//code.angularjs.org/1.5.3/angular-sanitize.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="static/dashboard.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.4.0/css/font-awesome.min.css') }}">

  <!-- jQuery datepicker -->
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

  <!-- Project -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/application.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/chart.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/angular-ui-switch.min.css') }}" rel="stylesheet">

  <!-- color picker -->
  <link href="{{ url_for('static', filename='css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap-colorpicker-plus.min.css') }}" rel="stylesheet">

  <script>
    var utc_to_local_time = function (date) {
        if (date) date.setMinutes(date.getMinutes() - date.getTimezoneOffset())
        return date
    }

    {% autoescape false %}
    var USER = {id: {{user.id}}, name: "{{user.name or ''}}", is_super: {{'true' if user.is_super() else 'false'}}, ask_for_feedback: {{'true' if user.ask_for_feedback else 'false'}} }
    var SHOP = {id: {{shop.id}}, name: "{{shop.name or ''}}", url: "{{shop.url or ''}}", state: "{{shop.state or ''}}",
                service_key: "{{shop.service_key or 'undefined'}}",
                is_shopify: {{"true" if shop.shopify_token != None else "false"}},
                settings: {{shop.settings or "{}"}} }
    
    var COLLECTIONS = {{collections |tojson}}

    {% endautoescape %}
    
    var IMG_BASE = "http://cpbg.aws.bitrec.com/"
  </script>

  <!-- Begin Inspectlet Embed Code ->
  <script type="text/javascript" id="inspectletjs">
  window.__insp = window.__insp || [];
  __insp.push(['wid', 903894049]);
  __insp.push(['identify', USER["name"]]);
  (function() {
  function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
  setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
  })();
  </script>
  <-- End Inspectlet Embed Code -->
</head>

  <body ng-controller="body" class="Optprice">
    <header class="header top-fix">
      <div class="blue row top-bar">
        <div class="blue logo-box col-md-2">
          <a href="/"><img class="logo" src="{{ url_for('static', filename='logotipas_optprice.png') }}"/></a>
        </div>
        <!--ul class="top-menu col-md-offset-2 col-md-6">
          <li><a class="top-menu" ng-class="{active: page=='dashboard'}" href="#/analytics" title="Reports">reports</a></li>
          <li><a class="top-menu" ng-class="{active: page=='faq'}" href="#/faq" title="F.A.Q.">FAQ</a></li>
        </ul-->
        <div class="username pull-right">
          {% raw %}
          <span>{{user.name}}&nbsp;</span>
          {% endraw %}
          <a class="medium" href="/logout" title="Sign out"><span class="fa fa-sign-out"><span class="space"></span></span> </a>
        </div>
      </div>

      <!-- Flashing of the messages -->
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for category, m in messages %}
      {% if category %}
      <div class="alert alert-{{ category }}">
        {% else %}
        <div class="alert">
          {% endif %}
          <a href="javascript:void(0)" class="close" data-dismiss="alert">x</a>
          {{ m }}
        </div>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </header>

  <main class="main-content" nn-scroll>
      <div class="row-fluid" ng-cloak>
        <div class="col-md-12">
          {% include 'admin/dashboard.html' %}
          <!--
                <a ng-click="campaign.coupons.push({popup_settings:{blocks:[{x:0, y:0, w:100, h:50, text:'code'}]}})">add</a>
          -->
        </div>
      </div>
    </main>

    <footer class="footer box gradient" ng-cloak>
          <span>© 2016 <a href="http://bitrec.com">bitREC</a> - all rights reserved.</span>
    </footer>
    
    {% raw %}
    <div ng-show="feedback.state" ng-cloak style="
        position: fixed; top: 0; bottom: 0; left: 0; right: 0;
        z-index: 10000; overflow: hidden;">
      <div ng-click="feedback.state == null" style="
        position: relative; width: 100%; height: 100%;
        background-color: black; opacity: 0.7; z-index: 10000;">
      </div>
      
      <div ng-show="feedback.state == 'rate_us'" style="
        position: fixed; left: 50%; top: 50%; width: 300px; height: 200px;
        margin: -100px -150px -100px -150px; z-index: 10000;
        background: white; color: black; border: 5px solid #005e80; opacity 1;
        font-size: 32px; text-align: center;">
        <h2>RATE US!</h2>
        <div>
          <span style="cursor: pointer; color: #f0ad4e">
          <span ng-mouseenter="feedback.rating=1" ng-click="feedback.state = 'give_feedback'; log_to_backend('rating: ' + feedback.rating)">
            <span class="fa fa-star-o" ng-show="feedback.rating < 1"></span>
            <span class="fa fa-star" ng-show="feedback.rating >= 1"></span>
          </span>
          
          <span ng-mouseenter="feedback.rating=2" ng-click="feedback.state = 'give_feedback'; log_to_backend('rating: ' + feedback.rating)">
            <span class="fa fa-star-o" ng-show="feedback.rating < 2"></span>
            <span class="fa fa-star" ng-show="feedback.rating >= 2"></span>
          </span>
          
          <span ng-mouseenter="feedback.rating=3" ng-click="feedback.state = 'give_feedback'; log_to_backend('rating: ' + feedback.rating)">
            <span class="fa fa-star-o" ng-show="feedback.rating < 3"></span>
            <span class="fa fa-star" ng-show="feedback.rating >= 3"></span>
          </span>
          
          <span ng-mouseenter="feedback.rating=4" ng-click="feedback.state = 'give_feedback'; log_to_backend('rating: ' + feedback.rating)">
            <span class="fa fa-star-o" ng-show="feedback.rating < 4"></span>
            <span class="fa fa-star" ng-show="feedback.rating >= 4"></span>
          </span>
          
          <span ng-mouseenter="feedback.rating=5" ng-click="feedback.state = 'review_us'; log_to_backend('rating: ' + feedback.rating)">
            <span class="fa fa-star-o" ng-show="feedback.rating < 5"></span>
            <span class="fa fa-star" ng-show="feedback.rating >= 5"></span>
          </span>
          </span>
        </div>
        <div>
          <button class="btn btn-danger" ng-click="feedback.state = null"> Later </button>
        </div>
      </div>
      
      <div ng-show="feedback.state == 'review_us'" style="
        position: fixed; left: 50%; top: 50%; width: 300px; height: 250px;
        margin: -125px -150px -125px -150px; z-index: 10000;
        background: white; color: black; border: 5px solid #005e80; opacity 1;
        font-size: 32px; text-align: center;">
        <h2>Review us <br/> in App Store</h2>
        <div style="font-size: 16px; text-align: left; margin: 10px">
          <div>It would only take you a minute and this would help us a lot!</div>
          
          <div style="font-size: 12px">A review creates a back-link to your store which improves your google ranking.</div>
        </div>
        <div>
          <button class="btn btn-danger" ng-click="feedback.state = null"> Later </button>
          <a class="btn btn-success" ng-click="feedback.state = null; " href="https://apps.shopify.com/optprice?reveal_new_review=true#reviews-heading" target="_blank"> Review </a>
        </div>
      </div>
      
      <div ng-show="feedback.state == 'give_feedback'" style="
        position: fixed; left: 50%; top: 50%; width: 300px; height: 300px;
        margin: -150px -150px -150px -150px; z-index: 10000;
        background: white; color: black; border: 5px solid #005e80; opacity 1;
        font-size: 32px; text-align: center;">
        <h2>Tell us how we can improve</h2>
        <div style="font-size: 16px; margin: 10px">
          <textarea style="width: 100%; height: 120px; resize: none"
                    ng-model="feedback.text"></textarea>
        </div>
        <div>
          <button class="btn btn-success" ng-click="feedback.state = null; log_to_backend('review: ' + feedback.text)"> Send </button>
        </div>
      </div>
    </div>
    {% endraw %}

    <script src="{{ url_for('static', filename='js/angular-confirm.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dirPagination.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular-ui-switch.min.js') }}"></script>
    <script src="/static/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/ng-file-upload.min.js"></script>
    <script src="{{ url_for('static', filename='js/ui-bootstrap-tpls-0.14.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-colorpicker-plus.min.js') }}"></script>

    <!--script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73221841-1', 'auto');
      ga('send', 'pageview');

    </script-->
    
    <!-- Google Tag Manager ->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N7QSZF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N7QSZF');</script>
    <!-- End Google Tag Manager -->


    <!-- begin olark code ->
    <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
    f[z]=function(){
    (a.s=a.s||[]).push(arguments)};var a=f[z]._={
    },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
    f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
    0:+new Date};a.P=function(u){
    a.p[u]=new Date-a.p[0]};function s(){
    a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
    hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
    return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
    b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
    b.contentWindow[g].open()}catch(w){
    c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
    var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
    b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
    loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('5947-542-10-1510');/*]]>*/</script><noscript><a href="https://www.olark.com/site/5947-542-10-1510/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!- end olark code -->

  </body>
</html>
