<!doctype html>
<html lang="en" ng-app="nn">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <link rel="icon" href="http://www.bitrec.com/wp-content/uploads/2014/01/favicon.ico">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.4.0/css/font-awesome.min.css') }}">
  <!-- Project -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/application.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/chart.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='webfont/stylesheet.css') }}" rel="stylesheet">


  <script>angular.module("nn", []).controller("body", function () {
  })</script>

  <title>bitREC dashboard login</title>
</head>

<body ng-controller="body">
<div class="container">
  <!-- Message Flashing -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert">
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="login box gradient">
    <img class="logo" style="height: 60px" src="{{ url_for('static', filename='logotipas_optprice.png') }}"/>

    <form action="" method="POST" name="login" class="wide">
      {{ form.hidden_tag() }}

      <div style="position: relative">
        {{ form.username(placeholder='Shop URL') }}
        <span class="field-icon fa fa-user"></span>
        {% for error in form.username.errors %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
      </div>

      <div><input class="caps wide" type="submit" value="Sign In"></div>
    </form>

  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70976420-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
