* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #e7e7e9; /* Old browsers */
    /*
    background: -moz-linear-gradient(left, #e7e7e9 0%, #f6f6f6 50%, #e7e7e9 100%); !* FF3.6+ *!
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e7e7e9), color-stop(50%, #f6f6f6), color-stop(100%, #e7e7e9)); !* Chrome,Safari4+ *!
    background: -webkit-linear-gradient(left, #e7e7e9 0%, #f6f6f6 50%, #e7e7e9 100%); !* Chrome10+,Safari5.1+ *!
    background: -o-linear-gradient(left, #e7e7e9 0%, #f6f6f6 50%, #e7e7e9 100%); !* Opera 11.10+ *!
    background: -ms-linear-gradient(left, #e7e7e9 0%, #f6f6f6 50%, #e7e7e9 100%); !* IE10+ *!
    background: linear-gradient(to right, #e7e7e9 0%, #f6f6f6 50%, #e7e7e9 100%); !* W3C *!
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e9', endColorstr='#e7e7e9', GradientType=1); !* IE6-9 *!
    */
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

body {
    /*font-family: dosisregular, sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    height: 100%;
}

.Optprice {
    display: flex;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
}

.wait, .wait * {
    cursor: wait !important;
}

header, footer {
    display: block;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #e37f29;
}

hr {
    margin: 2px 0;
    border: none;
    border-top: #ddd solid 1px;
}

.red {
    color: #d7291b;
}

.link {
    color: #6d9db1;
    cursor: pointer;
}

.link:hover {
    color: #e37f29;
    text-decoration: underline;
}

.label {
    color: #818181;
}

.text {
    color: #000;
}

.big {
    font-size: 20px;
    line-height: 16px;
}

.medium {
    font-size: 16px;
}

.small {
    font-size: 14px;
}

.tiny {
    font-size: 12px;
}

.caps {
    text-transform: uppercase;
}

.red, .red:hover {
    color: #d7291b;
}

span.space {
    display: inline-block;
    width: 20px;
}

.box {
    background-color: #e5e5e5;
    border: 1px solid #d8d8da;
}

.box.gradient {
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #f8f8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f5 0%, #f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f5f5 0%, #f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f5f5 0%, #f8f8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f8f8f8', GradientType=0); /* IE6-9 */
}

/* LOGIN */

.box.login {
    margin: 10% auto;
    position: relative;

    width: 484px;
    /*height: 344px;*/
    padding-bottom: 40px;
}

.login .logo {
    display: block;
    margin: -31px auto 50px auto;
}

.box form {
    margin: 0 auto;
    width: 290px;
}

.wide input {
    box-sizing: border-box;
}

.wide input {
    display: block;
    width: 100%;
}

.wide input[type=text],
.wide input[type=password],
.wide select,
.wide textarea {
    background-color: #fff;
    color: #979797;
    border: 1px solid #d8d8da;
    font-size: 16px;
    font-family: sans-serif;
    padding: 5px 5px 0px 5px;
    box-shadow: #bbb 1px 1px 3px;
    margin-bottom: 10px;
}

.wide input[type=text],
.wide input[type=password],
.wide select {
    height: 40px;
}

.wide input[type=password],
.wide #username {
    padding: 5px 5px 0px 35px;
}

.wide input[type=text]:focus,
.wide input[type=password]:focus,
.wide textarea:focus {
    outline: 1px solid #666;
    outline-offset: 0;
}

.field-icon {
    position: absolute;
    display: block;
    color: #c6c6c6;
    font-size: 20px;
    top: 12px;
    left: 10px;
}

.wide input[type=submit] {
    height: 42px;
    background-color: #d6291b;
    color: #fff;
    border: 1px solid #a33c35;
    font-size: 18px;
    text-align: center;
    padding: 10px 0 12px 0;
    outline: none;
    margin-bottom: 20px;
}

.wide input[type=submit]:hover {
    outline: 1px solid #666;
}

.wide input[type=submit]:active {
    background-color: #c6190b;
}

.wide input[type=checkbox] {
    width: auto;
}

.wide input[type=checkbox] + label {
    font-weight: normal;
    font-family: sans-serif;
    color: #8e8e8e;
}

.wide input[type=checkbox]:checked + label span.checked, input[type=checkbox] + label span.unchecked {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: #fff;
    box-shadow: #bbb 1px 1px 3px;
    box-sizing: border-box;
    border: 1px solid #d8d8da;
    margin-bottom: -4px;
    padding: 2px;
    cursor: pointer;
}

.wide input[type=checkbox] + label span.checked, input[type=checkbox]:checked + label span.unchecked {
    display: none;
}

/*
label {
    margin-left: 6px;
}
*/

/* DASHBOARD */

.main {
    margin-bottom: 18px;
}

.chart-header, .content-header {
    margin-bottom: 18px;
}

.chart-header .tools, .content-header .tools {
    display: table-cell;
    text-align: right;
    width: 100%;
}

.chart-header .tools .underline, .content-header .tools .underline {
    border-top: 1px solid #005e80;
    height: 3px;
    margin-left: 3px;
}

.chart-header .title, .content-header .title {
    display: table-cell;
    color: #005e80;
    white-space: nowrap;
    vertical-align: bottom;
}

.content-header p {
    margin: 2px 0px 0px 0px;
}

.links {
    top: 135px;
    left: 0;
    padding: 27px 20px 24px 20px;
}

.coupons {
    margin-top: 35px;
    left: 0;
    padding: 27px 20px 24px 20px;
}

/* DROPDOWN */

/*.dropdown {
    position: relative;
}

.dropdown-menu {
    right: -0px;
    top: 45px;
    padding: 6px;

    display: none;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    text-align: right;
}*/

.fa.box {
    padding: 0 3px;
}

input.hidden {
    width: 0;
    height: 1em;
    padding: 0;
    border: none !important;
    outline: none !important;
    display: inline !important;
}

.ui-datepicker {
    font-size: 14px;
}

/* CAMPAIGN LIST */

.pagination {
    padding: 0px;
}

.pagination > li > a {
    color: #D7291B;
    cursor: pointer;
    font-size: 1em;
}

.pagination > li > a:hover {
    color: #d7291b;
    text-decoration: underline;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
    background: #D9534F none repeat scroll 0% 0%;
    border-color: #d7291b;
    color: #FFF !important;
    font-weight: bold;
    font-size: 1em;
}

.olist {
    padding: 0px;
    list-style: outside none none;
}

.olist li {
    text-align: left;
    margin-bottom: 10px;
}

.coupons .olist li {
    text-align: right;
}

.create,
.item {
    display: block;
    line-height: 2.5em;
    border: 1px dashed #CCC;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
    padding: 6px;
}

.create {
    border: 1px dashed #CCC;
    background: #eaeaea;
}

li.create .caps {
    font-weight: bold;
}

.item {
    background: #f9f9f9;
}

.ico-pull-left {
    float: left;
    padding: 0.2em 0.25em 0.15em;
    border-radius: 0.1em;
    margin-right: 0.3em;
}

.inner {
    display: block;
    background: none repeat scroll 0% 0%;
    padding: 6px 30px 6px 30px;
    position: relative;
    border-radius: 3px;
}

.inner.nopad {
    margin-top: -15px;
}

.include-script {
    height: 6em;
}

.include-script pre {
    vertical-align: middle;
}

.coupon-code {
    border: 3px dashed #888;
    box-sizing: border-box;
    position: absolute;
}

.coupon-code.selected {
    border-color: #D9534F
}

.coupon-preview {
    margin-top: 13px;
}

img.coupon-preview {
    height: 88px;
}

.btn-primary, .btn-primary.active, .btn-primary:active,
.btn-primary.focus, .btn-primary:focus,
.btn-primary.hover, .btn-primary:hover,
.btn-primary.active.focus, .btn-primary.active:focus,
.btn-primary.active:hover, .btn-primary.focus:active,
.btn-primary:active:focus, .btn-primary:active:hover {
    background-color: #6d9db1;
    border-color: #005e80;
}

.main-action {
    margin-right: 12px;
}

/* for ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.progress-bar {
    font-weight: bolder;
}

.progress-bar-inactive {
    background-color: #f5f5f5;
    color: darkgrey;
}

.progress-bar-active {
    background-color: #f0ad4e;
}

.progress-bar-done {
    background-color: #5cb85c;
}

.switch {
    width: 50px !important;
}

.switch.checked {
    width: 50px !important;
}

.switch.checked small {
    left: 22px !important;
}

.switch .switch-text {
    font-family: inherit !important;
    font-size: inherit !important;
    margin-top: 10px;

}

.switch.checked .switch-text {
    font-family: inherit !important;
    font-size: inherit !important;
    margin-top: 10px;
}

.logo {
    color: #f4f8fb;
    font-size: 40px;
    font-family: dosisregular, sans-serif;
    text-transform: uppercase;
    /*padding-left: 24px;*/
    height: 100%;
}

.opt {
    color: #e37f29;
}

.blue {
    background: #005e80;
}

.white {
    background: #fff;
}

.logo-box {
    height: 60px;
    padding: 10px 0 12px 35px;
    min-width: 240px;
    float: left;
}

.username {
    color: #e7e7e9;
    padding-top: 33px;
    padding-right: 10px;
}

.al {
    padding-left: 0px !important;
}

.campaign-table {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 95%;
    -webkit-flex: 1 0 95%;
    -moz-flex: 1 0 95%;
    -ms-flex: 1 0 95%;
    -o-flex: 1 0 95%;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;

}

.campaign-table .thead {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 95%;
    -ms-flex: 1 0 95%;
    flex: 1 0 95%;
    height: 60px;
    min-height: 60px;
    padding: 5px;
    font-weight: 700;
    text-transform: capitalize;
    min-width: 900px;

}

.tc {
    flex: 1 auto;
}

.tc sup {
    cursor: pointer;
    font-size: smaller;
}

.col1 {
    text-align: center;
    order: 1;
    max-width: 120px;
    margin: 0;
}

.col2 {
    position: relative;
    text-align: center;
    max-width: 150px;
    order: 2;
    margin: 0;
}

.col3 {
    text-align: center;
    max-width: 150px;
    order: 3;
    margin: 0;
}

.col2 input, .col3 input {
    width: 50px;
    text-align: center;
}

.col4 {
    text-align: center;
    max-width: 60px;
    order: 4;
    margin: 0;
}

.col5 {
    text-align: center;
    max-width: 60px;
    order: 5;
    margin: 0;
}

.col6 {
    text-align: center;
    max-width: 80px;
    order: 6;
    margin: 0;
}

.col7 {
    text-align: left;
    max-width: 242px;
    order: 7;
    margin: 0;
}

.col7.empty {
    max-width: 0;
    order: 7;
    margin: 0;
}

.campaign-table .campaigns-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 95%;
    -ms-flex: 1 0 95%;
    flex: 1 0 95%;
    min-width: 900px;
}

.campaign-table .campaign-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 95%;
    -ms-flex: 1 0 95%;
    flex: 1 0 95%;
    border-top: 1px solid #dcdcdc;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.campaign-row > * {
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

.campaign-row .campaign-name {
    font-weight: 500;
    font-size: 15px;
}

.top-bar {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    width: auto;
    box-shadow: none;
    height: 60px;
    font-size: 12px;
}

.header {
    left: 0;
    right: 0;
    width: 100%;
}

.top-fix {
    position: fixed;
    z-index: 2016;
}

.top-menu {
    margin: 0;
    float: left;
    list-style: none;
}

ul.top-menu  {
}

.top-menu li {
    color: #e7e7e9;
    border-left: 1px solid #e7e7e9;
    text-align: center;
    padding: 0 6px 0 6px;
    float: left;
    position: relative;
    display: block;
}

a.top-menu {
    padding-top: 37px;
    font-size: 11px;
    text-transform: uppercase;
    color: #e7e7e9;
    text-decoration: none;
    height: 60px !important;
}

a.top-menu:hover{
    color: #e37f29;
    text-decoration: none;
}

.report p {
    font-size: 12px;
    margin-top: 20px;
}

.report > * {
    padding-bottom: 10px;
}

.active,
a.top-menu .active {
    color: #e37f29 !important;
}

.report-gray {
    background-color: #f6f6f6;
    padding: 20px 12px 20px 12px;
}


.main-content {
    flex: 1;
    display: inline-block;
    margin-top: 60px;
    padding: 15px 0px;
    width: 100%;
}

footer {
    position: relative;
    width: 100%;
    padding: 6px 6px;
    clear: both;
    text-align: right;
}

footer span {
    font-size: 11px;
}

main {
    overflow: auto;
}

.row.campaign-settings {
    margin: 0;
    padding: 0;
}

.alert {
    margin: 5px 18px 18px 18px;
    padding: 15px;
    color: #a94442;
    background-color: #f2dede;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #ebccd1;
    border-radius: 4px;
}

.alert .lead {
    margin-bottom: inherit !important;
}


.alert-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-box-direction: normal;
    -o-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

.alert-wrapper .alert-icon {
    -webkit-flex: 0 0 10%;
    -moz-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    -o-flex: 0 0 10%;
    flex: 0 0 10%;
    min-width: 50px;
    max-width: 100px;
    min-height: 50px;
    height: auto;
}

.alert-wrapper .alert-message {
    -webkit-flex: 0 0 70%;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    -o-flex: 0 0 70%;
    flex: 0 0 70%;
    min-height: 50px;
}

dl.faq {
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
    padding: 0 0 0.5em 0;
}
