svg.chart {
  overflow: visible;
  cursor: default;
  position: relative;
}

svg.chart path {
  stroke-width: 2px;
  fill: none;
  stroke: black;
}

.color.c1 { background-color: #0f9cff; }
svg.chart path.c1 { stroke: #0f9cff; }
svg.chart .circle.c1 .inner { fill: #0f9cff; }

.color.c2 { background-color: #cc1e1d; }
svg.chart path.c2 { stroke: #cc1e1d; }
svg.chart .circle.c2 .inner { fill: #cc1e1d; }

.color.c3 { background-color: #373C61; }
svg.chart path.c3 { stroke: #373C61; }
svg.chart .circle.c3 .inner { fill: #373C61; }


svg.chart .date line, svg.chart .line line {
  stroke-width: 1px;
  stroke: #bcbcbc;
}

svg.chart line.bottom {
  stroke-width: 1px;
  stroke: #000;
}

svg.chart .line text {
  text-anchor: start
}

svg.chart .date text {
  text-anchor: middle;
}

svg.chart .circle .outer {
  fill: transparent;
}

svg.chart .circle .inner {
  display: none;
}

svg.chart .circle text {
  display: none;
  text-anchor: middle;
}

svg.chart .circle:hover .inner {
  display: block;
}

svg.chart .circle:hover text {
  display: block;
}

svg.chart .candle rect, svg.chart .candle line{
  stroke: black;
  fill: none;
}

.tooltip {
  position: absolute;
  padding: 4px 8px;
  margin-top: -20px; /*margin-top: -70px;*/
  margin-left: -60px;
  
  opacity: 1;
  white-space: nowrap;
}

.tooltip .date {
  font-family: dosisbold;
}

.tooltip .title {
  color: #d7291b;
}

span.color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px 14px;
}

.legend .row {
  float: left;
  width: 50%;
  min-width: 300px;
  text-align: center;
  text-transform: capitalize;
}

.description {
  margin-top: 20px;
}
