.left_panel {
  display: inline-block;
  vertical-align: top;
  width: 50.5%;
  margin: 0px;
  padding: 0px;
}

.right_panel {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin: 0px;
  padding: 0px;
}

